@font-face {
  font-family: "lifecraftregular";
  src: url("../fonts/lifecraft_font-webfont.woff2") format("woff2"),
    url("../fonts/lifecraft_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.combat-log-enemy,
.combat-log-player {
  font-size: 0.5rem;
}
.parent {
  padding: 0px, auto;
}
.child-left {
  float: left;
  width: auto;
  height: auto;
}
.child-right {
  float: right;
  width: auto;
  height: auto;
}
.container {
  margin-top: 5.25em;
  margin-bottom: 84px;
}
img {
  height: 6.25rem;
  width: 6.25rem;
}
.char-pick-grid .card,
.enemies-grid .card {
  display: inline-block;
}
@media (max-width: 575.98px) {
  .navbar-brand {
    width: 100%;
    text-align: center;
  }

  .container {
    margin-top: 124px;
  }
}
.card-title {
  font-family: "lifecraftregular";
  font-size: 3rem;
}
